.body_color {

  /* ff 3.6+ */
  background: -moz-linear-gradient(180deg, rgba(255, 216, 3, 1) 0%, rgba(218, 190, 5, 0.99) 52%, rgba(103, 79, 2, 1) 100%);

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(180deg, rgba(255, 216, 3, 1) 0%, rgba(218, 190, 5, 0.99) 52%, rgba(103, 79, 2, 1) 100%);

  /* opera 11.10+ */
  background: -o-linear-gradient(180deg, rgba(255, 216, 3, 1) 0%, rgba(218, 190, 5, 0.99) 52%, rgba(103, 79, 2, 1) 100%);

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#674F02', endColorstr='#FFD803', GradientType=1);

  /* ie 10+ */
  background: -ms-linear-gradient(180deg, rgba(255, 216, 3, 1) 0%, rgba(218, 190, 5, 0.99) 52%, rgba(103, 79, 2, 1) 100%);

  /* global 94%+ browsers support */
  background: linear-gradient(180deg, rgba(255, 216, 3, 1) 0%, rgba(218, 190, 5, 0.99) 52%, rgba(103, 79, 2, 1) 100%);

  border-radius: 25px 25px 25px 25px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
}
