@import url(https://fonts.googleapis.com/css?family=Jost:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

html,
body,
#root {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  font-family: "Jost";
  


   
    

    /* ff 3.6+ */
    background:-moz-radial-gradient(ellipse at 0% 0%, rgba(1, 1, 29, 1) 0%, rgba(12, 12, 97, 1) 39%, rgba(87, 0, 120, 1) 55%, rgba(10, 1, 55, 1) 98%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(ellipse at 0% 0%, rgba(1, 1, 29, 1) 0%, rgba(12, 12, 97, 1) 39%, rgba(87, 0, 120, 1) 55%, rgba(10, 1, 55, 1) 98%);

    /* opera 11.10+ */
    background:-o-radial-gradient(ellipse at 0% 0%, rgba(1, 1, 29, 1) 0%, rgba(12, 12, 97, 1) 39%, rgba(87, 0, 120, 1) 55%, rgba(10, 1, 55, 1) 98%);

    /* ie 10+ */
    background:-ms-radial-gradient(ellipse at 0% 0%, rgba(1, 1, 29, 1) 0%, rgba(12, 12, 97, 1) 39%, rgba(87, 0, 120, 1) 55%, rgba(10, 1, 55, 1) 98%);

    /* global 92%+ browsers support */
    background:radial-gradient(ellipse at 0% 0%, rgba(1, 1, 29, 1) 0%, rgba(12, 12, 97, 1) 39%, rgba(87, 0, 120, 1) 55%, rgba(10, 1, 55, 1) 98%);



}
@tailwind base;
@tailwind components;
@tailwind utilities;